i:hover {
  cursor: pointer;
  border: 1px solid blanchedalmond;
  background-color: blue;
}

[data-icon] {
  margin-top: .2em;
}

[data-heading] {
  min-height: 3em;
}

[data-title] {
  display: inline;
}
